<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TKKS</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reload()">Refresh</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
